
.container{
    color: white;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-tareas{
    margin-top: 2rem;
    display: flex;
    gap: 20rem;
}
form{
    padding: 1rem 0;
    display: flex;
    gap: .8rem;

}
.campo input{
    padding: .5rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #fff;
    color: white;
    border-radius: 5px;
}
form button{
    padding: 0 .5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
form button:hover{
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}
.estado{
    font-size: 1.2rem;
}
.estado button{
    padding: 0 .5rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}
.estado button:hover{
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}
.listado{
    margin-top: .5rem;
    padding: .5rem 0;
    font-size: .8rem;
}
.lista{
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
}
.lista ul li{
    list-style: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}